/* t17.css */
body {
  margin: 0px;
  padding: 0px;
  font-size: 0.8;
}

.container {
background-color: #eee;
height: 100vh;
display: flex;

/* flex-direction: row;  플렉스 레이아웃의 기본은(행기준) */
/* flex-direction: column;  */
/* flex-direction: row-reverse;  */
/* flex-direction: column-reverse */

flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
/* justify-content: flex-end; */
/* justify-content: center; */

  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;

/*  align-items: baseline; */
/*  align-items: center; */
  align-items: end;
}

.item {
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  text-align: center;
}

.item2 {
  width: 150px;
  height: 150px;
}

.item1 {background-color: magenta;}
.item2 {background-color: red;}
.item3 {background-color: orange;}
.item4 {background-color: yellow;}
.item5 {background-color: green;}
.item6 {background-color: blue;}
.item7 {background-color: saddlebrown;}
.item8 {background-color: darkkhaki;}
.item9 {background-color: rgb(38, 105, 163);}
.item10 {background-color: rgb(128, 66, 89);}