/* t21.css */
/* PC화면을 주화면으로 기본설계처리(최소 1024px 기준) */

/* 공통사항(PC기준) */
/* css reset */
body {
  margin: 0px;
  padding: 0px;
  font-family: "맑은 고딕","굴림","돋움","궁서";
  font-size: 1em;
  background: linear-gradient(to bottom, skyblue, white 50%);
  background-attachment: fixed;
}
ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}

/* PC 모드(기본 설정내용) */
#container {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
}

#mainHeader {
  height: 280px;
  margin: 0px;
  background-image: url("images/12.jpg");
}

#mainHeader h1 {
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
}

.header1 a {
  color: #ff0;
  font-size: 2em;
  text-shadow: 1px 2px 1px #000;
}

#mainNav {
  width: 960px;
  height: 60px;
  background-color: #060;
}

#mainNav ul {
  margin: 0px;
  text-align: center;
}

#mainNav ul li {
  float: left;
  width: 100px;
  height: 40px;
  font-size: 1.1em;
  padding: 20px 0px 0px 0px;
}

#mainNav a {
  display: block;
  color: #fff;
  font-weight: bolder;
}

#mainNav a:hover {
  color: magenta;
}

#content {
  width: 720px;
  float: left;
  background-color: #fff;
  padding-left: 10px;
}

#footer {
  clear: both;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0px 20px;
}

#sidebar {
  width: 200px;
  float: right;
  padding: 20px 10px;
}

#sidebar img {
  margin-bottom: 12px;
  border: 1px solid #aaa;
}

#sidebar img:hover {
  border: 1px solid magenta;
  opacity: 0.8;
}

.notice li {
  list-style: circle;
}

/* 태블릿 화면 설계(600~1023px) */
@media screen and (min-width:600px) and (max-width:1023px) {
  #container {
    width: 580px;
  }
  
  /* 타이틀(메인/서브) */
  #mainHeader {
    height: 170px;
    background-image: url("images/11.jpg");
  }
  
  #mainHeader h1 {
    margin-top: 20px;
  }
  
  .header1 a {
    font-size: 1.5em;
  }
  
  #mainNav {
    width: 580px;
  }
    
  #mainNav ul li {
    width: 90px;
    font-size: 1em;
    padding: 20px 0px 0px 30px;
  }
  
  /* 본문 */
  #content {
    width: 550px;
  }
  
  #footer {
    font-size: 0.8em;
  }
  
  /* 사이드바 */
  #sidebar {
    width: 550px;
    padding: 0px 10px;
  }
  
  #sidebar img {
    width: 32%;
  }

}

/* 태블릿 화면 설계(~599px) */
@media screen and (max-width:599px) {
  #container {
    width: 320px;
  }
  
  /* 타이틀(메인/서브) */
  #mainHeader {
    height: 90px;
    background-image: url("images/13.jpg");
  }
  
  #mainHeader h1 {
    margin-top: 1em;
  }
  
  .header1 a {
    font-size: 0.8em;
  }
  
  #mainNav {
    width: 320px;
  }
    
  #mainNav ul li {
    width: 280px;
  }

  /* 서브메뉴 디자인 */
  #mainNav a {
    display: block;
    color: brown;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0px 100px 0 -120px;
    padding: 10px 0px;
    font-size: 0.92em;
  }

  
  /* 본문 */
  #content {
    width: 310px;
    margin-top: 10px;
  }
  
  #footer {
    font-size: 0.6em;
  }
  
  /* 사이드바 */
  #sidebar {
    width: 320px;
    padding: 0px;
  }
  
  #sidebar img {
    width: 98%;
    margin: 0px 2px;
  }

}